body {
    background-image: url("src/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    margin: 0px;
    margin-left: 5px;
    margin-top: 10px;
}
h1 {
    margin-top: 5px;
    margin-left: 10px;
}
p {
    margin-left: 10px;
}
.music {
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
.music:hover {
    font-size: 22px;
    color: red;
    cursor: pointer;
}
.music_red {
    margin-left: 10px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}
.boxed {
    width: 30%;
    height: 97.1vh;
    background-color: rgb(0, 0, 0,0.5);
    border: 2px solid rgb(182, 182, 182);
    border-radius: 5px;
}

img {
    position: absolute;
    margin: 0px;
    right: 10px;
    bottom: 10px;
    width: 20%;
}
audio {
    margin-left: 10px;
    margin-top: 10px;
}